/*global*/
body{
    background-color: #202223;
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: #fffaf5;
    font-family: sans-serif;
    font-size: 20px;
}

ul{
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    height: 180px;
    align-items: center;
    padding: 20px;
    background-color: #202223;
}

.header__logo{
    display: flex;
    align-items: center;
    height:140px ;
}

.header__logo img{
    height: 90px;
}

.header__navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a{
    font-weight: 650;
    padding-right: 12px;
}

nav a:hover{
    color: #dfaf6d;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 360px;
    justify-content: space-between;
    align-items: center;
    background-color: #202223;
}

.footer__menu nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer__bz{
   height: 70px;
   display: flex;
   align-items: center;
   
}

.footer__icon a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__logo{
    max-height: 40px;
    padding-right: 20px;

}

.footer__social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__bar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}



@media (max-width:840px){
    header{
        flex-direction: column;
        
    }

    nav{
        padding: 10px 0px;
    }

    nav a{
        font-size: 13px;
        font-weight: 400px;
    }
    
    footer{
        flex-direction: column;
        height: 360px;
    }

    .footer__bz{
        padding-top: 20px;
    }
}

/*Inicio*/

.main__container img{
    width: 100%;
}

.col-12 col-md-4 img{
    color: #dfaf6d;
}
/*
.section__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section__container h1{
    font-family: sans-serif;
    font-weight: 600px;
    color: #fffaf5;
}

.section__container p{
    padding: 20px 60px 20px 60px;
    color: #fffaf5;
}/*

.row .bg-secondary img{
    max-height: 40px;
}

/*Proyectos*/


.proyectos__mainContainer{
    padding: 30px 30px 30px 30px;
    gap: 40px;
}

.proyectos__mainContainer .main__antesDespues img{
    width: 100%;
    max-height: 744px;
    padding-bottom: 20px;
}

/*Preguntas Frecuentes
.questions__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5px 40px 5px;
}

.questions__container img{
    width: 100%;
}

.questions__containerText{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.questions__container .questions__containerText h1,h2{
    font-family: sans-serif;
    font-weight: 600px;
    color: #fffaf5;
    align-items: center;
    padding: 0px 30px 0px 30px;
}

.questions__container .questions__containerText p{
    font-family: sans-serif;
    font-weight: 300px;
    color: antiquewhite;
    align-items: center;
    padding: 0px 30px 0px 30px;
}
*/

/*Nosotros*/
.nosotros__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5px 40px 5px;
}

.nosotros__containerImage{
    width: 100%;
}

.nosotros__containerImage img{
    width: 100%;
}

.nosotros__containerText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros__container .nosotros__containerText h1{
    font-family: sans-serif;
    font-weight: 600px;
    color: #fffaf5;
    align-items: center;
    padding: 0px 30px 0px 30px;
}

.nosotros__container .nosotros__containerText p{
    font-family: sans-serif;
    font-weight: 300px;
    color: antiquewhite;
    align-items: center;
    padding: 0px 30px 0px 30px;
}




/*Contacto*/

.imagenContacto{
}

.main_imgContacto{
    width: 100%;
    height: auto;
}

.section__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202223;
}

.section__form{
    background-color: #202223;
    padding: 25px 30px;
}

.section__form .title__form{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 40px;
    font-family: sans-serif;
    color: #ebd6bc;
    display: flex;
    justify-content: center;
}

.form__conteiner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__name{
    padding: 30px 0px 0px 20px;
    display: grid;
}

.form__conteiner .form__name input{
    height: 35px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid #dbb17e;
    background-color: #47443f;
    color: #fffaf5;
}

.form__conteiner .form__name textarea{
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid #dbb17e;
    background-color: #47443f;
    color: #fffaf5;
}

.form__conteiner .form__name .form__details{
    font-family: sans-serif;
    font-weight: 400px;
    margin-bottom: 25px;
}

label{
    font-family: sans-serif;
    font-weight: 600;
    margin: 5px 0px 15px 0px;
    display: flex;
    color: #ebd6bc;
    display: flex;
    justify-content: center;
}