/*global*/

@import "footer";
@import "header";


body{
    background-color: #1398db;
    font-family: sans-serif;
    margin: 0;
}

.questions{
    display: grid;
    flex-direction: column;
    align-items: center;
    img{
        width: 100%;
    }
    .questions__container{
        display: grid;
        .questions__containerTitleInicio{
            padding-top: 50px;
            padding-bottom: 50px;
            display: flex;
            justify-content: center;
            h1{
                color: antiquewhite;
                font-family: sans-serif;
            }
        }
        .questions__containerText{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 30px;
            .questions__containerBorder{
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 1px;
                background-color: #373738;
                max-width: 660px;
                padding: 40px 40px 40px 40px;
                border: 1px solid #ccc;
                border-radius: 5px;
                height: 148px;
                h3{
                    color: #faebd7;
                    font-family: sans-serif;
                    font-size: 25px;
                }
                p{
                    color: bisque;
                    font-family: sans-serif;
                    font-size: 16px;
                }
            }
        }
        .questions__containerTextFinal{
            padding-top: 60px;
            padding-bottom: 50px;
            display: flex;
            justify-content: center;
            h2{
                color: antiquewhite;
                font-family: sans-serif;
                font-size: 22px;
            }
        }
    }
}

